<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Slice of Spice</title>
</head>
<body>
<a href="#content" class="skip-link">Skip to Content</a>
<!--  Navbar Mobile  -->
<div class="menu__mobile">
  <div class="icon__menu" id="menu"><a href="#">&#9776;</a></div>
  <div class="logo__mobile">Slice of Spice</div>
  <div class="logo__mobile">&nbsp;</div>
</div>
<nav id="drawer" class="nav__mobile">
  <ul class="nav__list__mobile">
    <li class="nav__item__mobile"><a href="">Home</a></li>
    <li class="nav__item__mobile"><a href="#">Favorite</a></li>
    <li class="nav__item__mobile"><a href="https://github.com/ismafitriaa/">About Us</a></li>
  </ul>
</nav>
<!--  Navbar Desktop  -->
<nav class="nav">
  <a class="logo">Slice of Spice</a>
  <ul class="nav__list">
    <li class="nav__item"><a href="">Home</a></li>
    <li class="nav__item"><a href="#">Favorite</a></li>
    <li class="nav__item"><a href="https://github.com/ismafitriaa/">About Us</a></li>
  </ul>
</nav>
<div class="hero">
  <div class="hero__inner">
    <h1 class="hero__title">Hangatnya Satukan Suasana</h1>
    <p class="hero__tagline">Sajian lezat dari dapur kami ke meja makan anda.</p>
  </div>
</div>
<main id="content">
  <section class="content">
    <div class="latest">
      <h1 class="latest__label">Explore Restaurant</h1>
      <div class="posts"></div>
    </div>
  </section>
</main>
<footer>
  <p>Copyright &copy; 2023 - Slice of Spice</p>
</footer>
</body>
</html>
